body {
        width:1024px;
        height:768px;
        margin: 0;
	padding: 0;
        line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
        background: #007c05 url(imagenes/fondoCeleste3.jpg) repeat top;  
}


body {
        width:1280px;
        height:800px;
        margin: 0;
	padding: 0;
        line-height: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
        background: #007c05 url(imagenes/Hojas-verdes.jpg) repeat top;  
}
#menu 
{ 
        padding: 25px 25px 25px 25px; 
        width: 60%; 
        /*Para los margenes y centrar la barra*/
        margin: auto; 
        list-style: none; 
        background: #111; 
        background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444)); 
        background: -webkit-linear-gradient(#444, #111); 
        background: -o-linear-gradient(#444, #111); 
        background: -ms-linear-gradient(#444, #111); 
        background: linear-gradient(#444, #111); 
        -moz-border-radius: 50px; 
        /*Para darle y contorno redondeado a la barra tambien puede poner 50px*/
        border-radius: 20px 20px 20px 20px;
        -moz-box-shadow: 0 2px 1px #9c9c9c; 
        -webkit-box-shadow: 0 2px 1px #9c9c9c; 
        box-shadow: 0 2px 1px #9c9c9c; 
}
/*Menu despleglabe con esta propiedad el menu aparece en la parte abajo de la barra principal*/
#menu li 
{ 
    float: left; 
    padding: 0 0 10px 0; 
    position: relative; 
} 
#menu a 
{ 
    float: left; 
    height: 25px; 
    padding: 0 25px; 
    color: #999; 
    text-transform: uppercase; 
    font: bold 12px/25px Arial, Helvetica; 
    text-decoration: none; 
    text-shadow: 0 1px 0 #000; 
} 
/*TRANSICION DE COLOR DE LOS ELEMENTOS a*/
#menu li:hover > a 
{ 
    color: #fafafa; 
} 
*html #menu li a:hover /* IE6 */ 
{ 
   color: #fafafa; 
} 
#menu li:hover > ul 
{ 
display: block; 
} 
/* Sub-menu */ 
#menu ul 
{ 
        width:auto; 
        list-style: none; 
        margin: auto; 
        padding: 0; 
        display: none; 
        position: absolute; 
        top: 35px; 
        left: 0; 
        z-index: 99999; 
        background: #444; 
        /*Efectos de submenu*/
        background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444)); 
        background: -webkit-linear-gradient(#444, #111); 
        background: -o-linear-gradient(#444, #111); 
        background: -ms-linear-gradient(#444, #111); 
        background: linear-gradient(#444, #111); 
        -moz-border-radius: 5px; 
        border-radius: 5px; 
} 
/*Efecto de cada elemento del submenu*/
#menu ul li 
{ 
        float: none; 
        margin: auto; 
        padding: 0; 
        display: block; 
        -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; 
        -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; 
        box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; 
} 
/*Efecto de del ultimo elemento del submenu*/
#menu ul li:last-child 
{ 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
} 
/*Efecto del texto de cada elemento a*/
#menu ul a 
{ 
    margin: auto;
    padding: 10px; 
    height: auto; 
    line-height: 1; 
    display: block; 
    white-space: nowrap; 
    float: none; 
    text-transform: none; 
} 

/*NADA*/
*html #menu ul a /* IE6 */ 
{ 
height: 10px; 
width: 150px; 
} 
/*NADA*/
*:first-child+html #menu ul a /* IE7 */ 
{ 
height: 10px; 
width: 150px; 
} 
/*Efecto de color de cala elemento de submenu al momento que se pase el mouse*/
#menu ul a:hover 
{ 
    background: #0186ba; 
    background: -moz-linear-gradient(#04acec, #0186ba); 
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)); 
    background: -webkit-linear-gradient(#04acec, #0186ba); 
    background: -o-linear-gradient(#04acec, #0186ba); 
    background: -ms-linear-gradient(#04acec, #0186ba); 
    background: linear-gradient(#04acec, #0186ba); 
} 
/*nada*/
#menu ul li:first-child a 
{ 
    -moz-border-radius: 5px 5px 0 0; 
    border-radius: 5px 5px 0 0; 
} 
/*nada*/
#menu ul li:first-child a:after 
{ 
content: ""; 
position: absolute; 
left: 30px; 
top: -8px; 
width: 0; 
height: 0; 
border-left: 5px solid transparent; 
border-right: 5px solid transparent; 
border-bottom: 8px solid #444; 
} 

/*nada*/
#menu ul li:first-child a:hover:after 
{ 
   border-bottom-color: #04acec; 
} 
/*nada*/
#menu ul li:last-child a 
{ 
-moz-border-radius: 0 0 5px 5px; 
 border-radius: 0 0 5px 5px; 
} 
 
/* Clear floated elements  
#menu:after 
{ 
    visibility: hidden; 
    display: block; 
    font-size: 0; 
    content: ""; 
    clear: both; 
    height: 0; 
} 
* html #menu { zoom: 1; } /* IE6 */ 
/**:first-child+html #menu { zoom: 1; } /* IE7 */
/*#menu ul li:first-child a:after 
{ 
content: ""; 
position: absolute; 
left: 30px; 
top: -8px; 
width: 0; 
height: 0; 
border-left: 5px solid transparent; 
border-right: 5px solid transparent; 
border-bottom: 8px solid #444; 
} 
#menu ul li:first-child a:hover:after 
{ 
border-bottom-color: #04acec; 
}*/

